.presentation {
    align-items: center;
    background: url("../../../images/software-developer.jpg") no-repeat fixed; 
    background-size:cover; 
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height:100vh;
}

@media screen and (max-width: 768px) {
   .presentation {
       height:100vh;
   }
}





