.presentation__container {
    text-align: center;
    text-transform: uppercase;
    width: 70%;
    padding:  0 1.5rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    margin-top: 1rem;
}

@media screen and (max-width: 768px) { /*De 768px hacia atrás*/
    .presentation__container {
        width: 80%;
    }
}

@media screen and (max-width: 480px) { /*De 768px hacia atrás*/
    .presentation__container {
        width: 90%;
    }
}