.academic__image {
    display:flex;
    align-items: center;
    height: 65%; 
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
}

.academic__image--unah {
    max-height: 160px;
    max-width: 150px;
}

.academic__image--alura {
    max-height: 160px;
    max-width: 160px;
}