:root {
    --font-raleway: "Raleway", "sans serif";
}

body {
    max-width: 1200px;
    margin-left: auto; 
    margin-right: auto;
    font-family: var(--font-raleway);
    background-color: #152636;
    color: #ffffff;
}

hr {
    max-width:1200px;
}