header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-raleway);
    background-color: rgb(250, 243, 233);
    padding-top: 0.5rem;
}

.menu_items {
    display:flex;
    list-style: none;
}

.menu_item {
    text-decoration: none;
    margin-right: 1rem;
    color: #464646;
    font-weight: 400;
    transition: all 0.3s;
}

.menu_item:hover {
    text-decoration: underline;
    font-weight: 700;
    color: rgb(15, 171, 198);
}

.container_logo {
    display:flex;
    align-items: center;
}

.container_logo p {
    font-weight: 700;
}

.logo {
    width: 45px;
    margin-right: .5rem;
}