.card__title {
    font-weight: 700;
    font-size: 1.7rem;
    margin-top: 0px;
    text-decoration: underline;
    padding-left: 2rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
